<h1>글을 쓰시오</h1>
<form action="/board/create">
  <p>작성자<input type="text" name="user" placeholder="제목을 입력하시오."/></p>
  <p>제목<input type="text" name="title" placeholder="제목을 입력하시오."/></p>
  <textarea name="content">  </textarea>
  <input type="submit" value="전송"/>
</form>
